In [81]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
%matplotlib inline
sns.set_style('darkgrid')

In [9]:
# df1 = pd.read_csv('all_assistance_prime_transactions_1.csv')
# df2 = pd.read_csv('all_assistance_subawards_1.csv')
df = pd.read_csv('_Data/TREAS/all_contracts_prime_transactions_1.csv')
# df4 = pd.read_csv('all_contracts_subawards_1.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,17,20,43,49,50,57,62,63,64,65,66,67,81,82,90,109,110,138,139,153,154) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head(1)

,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id,parent_award_modification_number,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,last_modified_date
0,TOSOFR15F0015,5,0.0,NaN,NaN,NaN,NaN,-19031.25,1783813.26,-416401.15,...,f,f,f,f,t,f,t,t,f,2018-12-07 09:17:07

In [13]:
df2 = df[df.federal_action_obligation == 0]
df3 = df[df.federal_action_obligation != 0]

In [14]:
df3.head()

,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id,parent_award_modification_number,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,last_modified_date
0,TOSOFR15F0015,5,0.0,NaN,NaN,NaN,NaN,-19031.25,1783813.26,-416401.15,...,f,f,f,f,t,f,t,t,f,2018-12-07 09:17:07
1,TEPS1734717,P00003,0.0,NaN,NaN,NaN,NaN,2500.00,83025.96,2500.00,...,f,f,f,f,f,f,f,f,f,2017-11-20 08:25:36
2,SGE50017F0252,0,0.0,1900,"STATE, DEPARTMENT OF",SGE50016D0001,0,6843.72,6843.72,6843.72,...,f,f,f,f,f,f,f,f,f,2018-12-07 03:45:09
4,TIRNO11D000790004,12,0.0,2050,INTERNAL REVENUE SERVICE,TIRNO11D00079,0,691731.55,11330411.22,0.00,...,f,f,f,f,f,t,t,f,f,2018-01-30 12:12:58
5,TIRNO10S000010010,55,0.0,2050,INTERNAL REVENUE SERVICE,TIRNO10S00001,0,7534449.39,NaN,7534449.39,...,f,f,f,f,f,f,f,f,f,2018-07-14 21:41:17

In [78]:
df3.loc[:, 'action_date'] = df3.action_date.apply(pd.to_datetime)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [33]:
df3.loc[:, 'action_date'] = pd.to_datetime(df3.action_date)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [68]:
df3.action_date.dt.year.value_counts()

2017    16234
2018    11294
2016     3728
Name: action_date, dtype: int64

In [87]:
df3.action_date.date.iloc[4] > datetime.date(2018, 6, 29)

AttributeError: 'Series' object has no attribute 'date'

In [74]:
df3.sort_values(by=['product_or_service_code', 'naics_code', 'recipient_parent_name'])

,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id,parent_award_modification_number,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,last_modified_date
7172,2023H218P00448,0,0.0,NaN,NaN,NaN,NaN,5200.00,NaN,5200.00,...,f,f,f,f,f,f,f,f,f,2018-08-08 09:59:46
29518,TMSF17MX0031,0,0.0,NaN,NaN,NaN,NaN,7395.00,7395.00,7395.00,...,f,f,f,f,t,f,f,f,f,2017-11-26 23:26:17
25588,TMSF17MX0043,0,0.0,NaN,NaN,NaN,NaN,56090.50,56090.50,56090.50,...,f,f,f,f,t,f,f,f,f,2017-11-23 12:20:41
36590,TMSF17MX0008,0,0.0,NaN,NaN,NaN,NaN,13385.60,NaN,13385.60,...,f,f,f,f,t,f,f,f,f,2016-12-08 20:51:56
11224,2091JB18F00054,0,0.0,4732,FEDERAL ACQUISITION SERVICE,GS07F105BA,PA0039ADDRESSCHG,5792.11,NaN,5792.11,...,f,f,f,f,f,f,f,f,f,2018-05-02 21:27:41
20728,TIRWR17K00040,0,0.0,4730,FEDERAL ACQUISITION SERVICE,GS07F6007R,27,18960.00,18960.00,18960.00,...,f,f,f,f,f,f,f,f,f,2017-09-15 09:07:21
21573,TIRNO17K00304,0,0.0,4732,FEDERAL ACQUISITION SERVICE,GS07F143DA,0,62570.00,62570.00,62570.00,...,f,f,f,f,f,f,f,f,f,2017-09-08 11:19:15
24419,TEPA1736242,P00001,0.0,NaN,NaN,NaN,NaN,1495.20,53704.75,1495.20,...,f,f,f,f,t,f,t,f,f,2017-11-23 12:22:23
29204,TEPG1735735,0,0.0,NaN,NaN,NaN,NaN,50082.20,50082.20,50082.20,...,f,f,f,f,t,f,t,f,f,2017-11-23 12:22:35
29244,TEPA1736242,0,0.0,NaN,NaN,NaN,NaN,52209.55,53704.75,52209.55,...,f,f,f,f,t,f,t,f,f,2017-11-26 23:33:17
17609,2031ZA18P00131,0,0.0,NaN,NaN,NaN,NaN,3344.80,3344.80,3344.80,...,f,f,f,f,f,f,f,f,f,2017-11-13 08:54:50
28672,TMHQ17P0193,0,0.0,NaN,NaN,NaN,NaN,8300.00,NaN,8300.00,...,f,f,f,f,f,f,f,f,f,2017-05-16 06:40:16
16335,2031ZA18F00070,0,0.0,4732,FEDERAL ACQUISITION SERVICE,GS07F225BA,PA0008ADDRESSCHG,9275.80,9275.80,9275.80,...,f,f,f,t,t,f,f,f,f,2017-12-14 14:03:05
13890,2031ZA18P00379,0,0.0,NaN,NaN,NaN,NaN,3183.48,NaN,3183.48,...,f,f,f,t,t,f,f,f,f,2018-02-26 10:17:01
38273,TIRNE15P00178,1,0.0,NaN,NaN,NaN,NaN,-9675.00,NaN,-9675.00,...,f,f,f,f,f,f,f,f,f,2016-10-13 09:08:47
17911,TEPS1100102,M0008,0.0,NaN,NaN,NaN,NaN,-465790.05,380161.04,-465790.05,...,f,f,f,f,f,f,f,f,f,2017-10-26 15:12:59
5243,TEPV1634708,P00003,0.0,4730,FEDERAL ACQUISITION SERVICE,GS06F0004P,7,114396.00,358156.00,114396.00,...,f,f,f,f,t,t,t,f,f,2018-09-25 20:13:33
20660,TEPV1634708,P00002,0.0,4730,FEDERAL ACQUISITION SERVICE,GS06F0004P,7,109880.00,243760.00,109880.00,...,f,f,f,f,t,t,t,f,f,2017-09-26 16:46:31
23863,TEPV1634708,P00001,0.0,4730,FEDERAL ACQUISITION SERVICE,GS06F0004P,7,25000.00,NaN,25000.00,...,f,f,f,f,t,t,t,f,f,2017-08-08 13:01:17
12379,2031ZA18P00479,P00001,0.0,NaN,NaN,NaN,NaN,600.00,NaN,600.00,...,f,f,f,f,f,f,f,f,f,2018-03-29 16:08:42
12633,2031ZA18P00479,0,0.0,NaN,NaN,NaN,NaN,4990.00,NaN,4990.00,...,f,f,f,f,f,f,f,f,f,2018-03-27 09:19:38
9128,2091JB18F00096,0,0.0,4732,FEDERAL ACQUISITION SERVICE,GS07F016DA,0,1752.24,NaN,1752.24,...,f,f,f,f,f,f,f,f,f,2018-07-19 16:52:25
11644,2091JB18F00053,0,0.0,4732,FEDERAL ACQUISITION SERVICE,GS07F016DA,0,2143.71,NaN,2143.71,...,f,f,f,f,f,f,f,f,f,2018-04-18 15:32:04
5844,2031ZA18F00532,0,0.0,2041,BUREAU OF ENGRAVING AND PRINTING,2031ZA18A00014,0,41391.02,NaN,41391.02,...,f,f,f,t,t,f,f,f,f,2018-09-14 14:05:22
5863,2031ZA18F00533,0,0.0,2041,BUREAU OF ENGRAVING AND PRINTING,2031ZA18A00014,0,50809.25,NaN,50809.25,...,f,f,f,t,t,f,f,f,f,2018-08-24 10:20:00
21750,2031ZA17P00371,0,0.0,NaN,NaN,NaN,NaN,1309.35,1309.35,1309.35,...,f,f,f,t,t,f,f,f,f,2017-09-09 09:56:59
28267,TIRWR17P00438,0,0.0,NaN,NaN,NaN,NaN,1107.40,1107.40,1107.40,...,f,f,f,f,f,f,f,f,f,2017-11-26 23:20:39
34378,TIRWR17P00185,0,0.0,NaN,NaN,NaN,NaN,564.16,NaN,564.16,...,f,f,f,f,f,f,f,f,f,2017-01-12 16:52:36
27379,2031ZA17P00023,0,0.0,NaN,NaN,NaN,NaN,10189.02,NaN,10189.02,...,f,f,f,f,t,f,f,f,f,2017-06-05 15:10:51
20712,TIRWR17K00042,0,0.0,1549,FEDERAL BUREAU OF INVESTIGATION,DJFJFBI13127,0,6016.80,6016.80,6016.80,...,f,f,f,f,f,f,f,f,f,2017-09-19 13:42:14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9065,2031JG18F00171,P00004,0.0,2044,UNITED STATES MINT,TMHQ17C0046,0,6668.88,NaN,6668.88,...,f,f,f,f,f,f,f,f,f,2018-06-19 09:11:29
10403,2031JG18F00171,P00003,0.0,2044,UNITED STATES MINT,TMHQ17C0046,0,23261.81,NaN,23261.81,...,f,f,f,f,f,f,f,f,f,2018-05-24 12:59:11
10486,2031JG18F00171,P00002,0.0,2044,UNITED STATES MINT,TMHQ17C0046,0,8836.30,NaN,8836.30,...,f,f,f,f,f,f,f,f,f,2018-05-17 06:31:26
10950,2031JG18F00171,P00001,0.0,2044,UNITED STATES MINT,TMHQ17C0046,0,25891.35,NaN,25891.35,...,f,f,f,f,f,f,f,f,f,2018-05-04 15:08:22
13134,2031JG18F00171,0,0.0,2044,UNITED STATES MINT,TMHQ17C0046,0,947000.00,NaN,947000.00,...,f,f,f,f,f,f,f,f,f,2018-03-16 07:28:07
16325,0014,2,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,-11751.82,36348.18,-11751.82,...,f,f,f,f,f,f,f,f,f,2017-12-20 15:31:46
16377,0012,4,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,-11737.31,43262.69,-11737.31,...,f,f,f,f,f,f,f,f,f,2017-12-20 15:28:38
20126,0014,1,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,18100.00,48100.00,18100.00,...,f,f,f,f,f,f,f,f,f,2017-09-28 09:04:53
25318,0013,2,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,-217.50,NaN,-217.50,...,f,f,f,f,f,f,f,f,f,2017-06-27 13:35:49
25620,0011,2,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,-20463.76,NaN,-20463.76,...,f,f,f,f,f,f,f,f,f,2017-06-27 13:38:58
30944,0010,2,0.0,2044,UNITED STATES MINT,TMHQ12C0026,0,-39757.90,NaN,-39757.90,...,f,f,f,f,f,f,f,f,f,2017-03-16 23:19:36
12735,2091JB18P00272,0,0.0,NaN,NaN,NaN,NaN,84342.71,NaN,84342.71,...,f,f,f,f,f,f,f,f,f,2018-05-10 13:17:27
13863,2082AA18P00060,P0001,0.0,NaN,NaN,NaN,NaN,25465.00,NaN,25465.00,...,f,f,f,f,t,f,f,f,f,2018-02-27 15:35:08
16763,2082AA18P00060,0,0.0,NaN,NaN,NaN,NaN,70620.80,70620.80,70620.80,...,f,f,f,f,t,f,f,f,f,2017-12-20 12:34:53
7493,2082AA18P00110,P00002,0.0,NaN,NaN,NaN,NaN,-14105.00,NaN,-14105.00,...,f,f,f,f,f,f,f,f,f,2018-07-31 12:51:18
8206,2082AA18P00110,P00001,0.0,NaN,NaN,NaN,NaN,1315.00,NaN,1315.00,...,f,f,f,f,f,f,f,f,f,2018-07-10 11:59:26
9950,2082AA18P00110,0,0.0,NaN,NaN,NaN,NaN,84620.00,NaN,84620.00,...,f,f,f,f,f,f,f,f,f,2018-07-31 12:51:18
11070,2031JG18P00025,0,0.0,NaN,NaN,NaN,NaN,11500.00,NaN,11500.00,...,f,f,f,f,f,f,f,f,f,2018-05-04 13:18:51
19937,TMHQ17P0305,0,0.0,NaN,NaN,NaN,NaN,37111.00,37111.00,37111.00,...,f,f,f,f,f,f,f,f,f,2017-09-29 13:24:23
29482,TMPH17P0032,0,0.0,NaN,NaN,NaN,NaN,11753.31,NaN,11753.31,...,f,f,f,f,f,f,f,f,f,2017-04-25 15:23:40
25079,GS08P17JEC0011,0,0.0,NaN,NaN,NaN,NaN,325379.07,327759.07,325379.07,...,f,f,f,t,t,f,t,f,f,2017-11-18 17:40:49
24791,TIRWR17Z000020010,0,0.0,4730,FEDERAL ACQUISITION SERVICE,GS06F0013R,7,8000.00,NaN,8000.00,...,f,f,f,f,f,t,f,f,f,2017-07-27 15:30:31
22379,TIRMS16D000010006,0,0.0,2050,INTERNAL REVENUE SERVICE,TIRMS16D00001,0,37422.11,NaN,37422.11,...,f,f,f,f,f,f,f,f,f,2017-08-22 15:14:33
3603,2032H818P00315,0,0.0,NaN,NaN,NaN,NaN,7822.61,7822.61,7822.61,...,f,f,f,f,f,f,f,f,f,2018-09-30 11:03:07
10459,2031JG18F00207,0,0.0,2044,UNITED STATES MINT,2031JG18D00017,0,376000.00,NaN,376000.00,...,f,f,f,f,f,f,f,f,f,2018-05-22 10:08:20
19177,2031ZA17C00190,0,0.0,NaN,NaN,NaN,NaN,2023588.00,2023588.00,2023588.00,...,f,f,f,t,t,f,t,f,f,2017-09-29 11:55:47
9709,2031ZA18C00087,0,0.0,NaN,NaN,NaN,NaN,856800.00,NaN,856800.00,...,f,f,f,f,f,f,f,f,f,2018-06-06 11:18:40
32257,TMWP17P0020,0,0.0,NaN,NaN,NaN,NaN,26625.00,26625.00,26625.00,...,f,f,f,f,f,f,f,f,f,2017-12-28 13:51:52
8877,TOS17F0023,2,0.0,NaN,NaN,NaN,NaN,9675.00,NaN,9675.00,...,f,f,f,f,t,f,t,t,f,2018-07-15 13:23:19
19347,TOS17F0023,0,0.0,NaN,NaN,NaN,NaN,441232.00,441232.00,441232.00,...,f,f,f,f,t,f,t,t,f,2017-11-27 13:01:50

In [69]:
for col in df3.columns:
    print(col)

award_id_piid
modification_number
transaction_number
parent_award_agency_id
parent_award_agency_name
parent_award_id
parent_award_modification_number
federal_action_obligation
total_dollars_obligated
base_and_exercised_options_value
current_total_value_of_award
base_and_all_options_value
potential_total_value_of_award
action_date
period_of_performance_start_date
period_of_performance_current_end_date
period_of_performance_potential_end_date
ordering_period_end_date
awarding_agency_code
awarding_agency_name
awarding_sub_agency_code
awarding_sub_agency_name
awarding_office_code
awarding_office_name
funding_agency_code
funding_agency_name
funding_sub_agency_code
funding_sub_agency_name
funding_office_code
funding_office_name
foreign_funding
foreign_funding_description
sam_exception
sam_exception_description
recipient_duns
recipient_name
recipient_doing_business_as_name
cage_code
recipient_parent_name
recipient_parent_duns
recipient_country_code
recipient_country_name
recipient_address_line_1
recipient_address_line_2
recipient_city_name
recipient_state_code
recipient_state_name
recipient_zip_4_code
recipient_congressional_district
recipient_phone_number
recipient_fax_number
primary_place_of_performance_country_code
primary_place_of_performance_country_name
primary_place_of_performance_city_name
primary_place_of_performance_county_name
primary_place_of_performance_state_code
primary_place_of_performance_state_name
primary_place_of_performance_zip_4
primary_place_of_performance_congressional_district
award_or_idv_flag
award_type_code
award_type
idv_type_code
idv_type
multiple_or_single_award_idv_code
multiple_or_single_award_idv
type_of_idc_code
type_of_idc
type_of_contract_pricing_code
type_of_contract_pricing
award_description
action_type_code
action_type
solicitation_identifier
number_of_actions
inherently_governmental_functions
inherently_governmental_functions_description
product_or_service_code
product_or_service_code_description
contract_bundling_code
contract_bundling
dod_claimant_program_code
dod_claimant_program_description
naics_code
naics_description
recovered_materials_sustainability_code
recovered_materials_sustainability
domestic_or_foreign_entity_code
domestic_or_foreign_entity
dod_acquisition_program_code
dod_acquisition_program_description
information_technology_commercial_item_category_code
information_technology_commercial_item_category
epa_designated_product_code
epa_designated_product
country_of_product_or_service_origin_code
country_of_product_or_service_origin
place_of_manufacture_code
place_of_manufacture
subcontracting_plan_code
subcontracting_plan
extent_competed_code
extent_competed
solicitation_procedures_code
solicitation_procedures
type_of_set_aside_code
type_of_set_aside
evaluated_preference_code
evaluated_preference
research_code
research
fair_opportunity_limited_sources_code
fair_opportunity_limited_sources
other_than_full_and_open_competition_code
other_than_full_and_open_competition
number_of_offers_received
commercial_item_acquisition_procedures_code
commercial_item_acquisition_procedures
small_business_competitiveness_demonstration_program
commercial_item_test_program_code
commercial_item_test_program
a76_fair_act_action_code
a76_fair_act_action
fed_biz_opps_code
fed_biz_opps
local_area_set_aside_code
local_area_set_aside
price_evaluation_adjustment_preference_percent_difference
clinger_cohen_act_planning_code
clinger_cohen_act_planning
materials_supplies_articles_equipment_code
materials_supplies_articles_equipment
labor_standards_code
labor_standards
construction_wage_rate_requirements_code
construction_wage_rate_requirements
interagency_contracting_authority_code
interagency_contracting_authority
other_statutory_authority
program_acronym
parent_award_type_code
parent_award_type
parent_award_single_or_multiple_code
parent_award_single_or_multiple
major_program
national_interest_action_code
national_interest_action
cost_or_pricing_data_code
cost_or_pricing_data
cost_accounting_standards_clause_code
cost_accounting_standards_clause
gfe_gfp_code
gfe_gfp
sea_transportation_code
sea_transportation
undefinitized_action_code
undefinitized_action
consolidated_contract_code
consolidated_contract
performance_based_service_acquisition_code
performance_based_service_acquisition
multi_year_contract_code
multi_year_contract
contract_financing_code
contract_financing
purchase_card_as_payment_method_code
purchase_card_as_payment_method
contingency_humanitarian_or_peacekeeping_operation_code
contingency_humanitarian_or_peacekeeping_operation
alaskan_native_owned_corporation_or_firm
american_indian_owned_business
indian_tribe_federally_recognized
native_hawaiian_owned_business
tribally_owned_business
veteran_owned_business
service_disabled_veteran_owned_business
woman_owned_business
women_owned_small_business
economically_disadvantaged_women_owned_small_business
joint_venture_women_owned_small_business
joint_venture_economic_disadvantaged_women_owned_small_bus
minority_owned_business
subcontinent_asian_asian_indian_american_owned_business
asian_pacific_american_owned_business
black_american_owned_business
hispanic_american_owned_business
native_american_owned_business
other_minority_owned_business
contracting_officers_determination_of_business_size
contracting_officers_determination_of_business_size_code
emerging_small_business
community_developed_corporation_owned_firm
labor_surplus_area_firm
us_federal_government
federally_funded_research_and_development_corp
federal_agency
us_state_government
us_local_government
city_local_government
county_local_government
inter_municipal_local_government
local_government_owned
municipality_local_government
school_district_local_government
township_local_government
us_tribal_government
foreign_government
organizational_type
corporate_entity_not_tax_exempt
corporate_entity_tax_exempt
partnership_or_limited_liability_partnership
sole_proprietorship
small_agricultural_cooperative
international_organization
us_government_entity
community_development_corporation
domestic_shelter
educational_institution
foundation
hospital_flag
manufacturer_of_goods
veterinary_hospital
hispanic_servicing_institution
receives_contracts
receives_grants
receives_contracts_and_grants
airport_authority
council_of_governments
housing_authorities_public_tribal
interstate_entity
planning_commission
port_authority
transit_authority
subchapter_scorporation
limited_liability_corporation
foreign_owned_and_located
for_profit_organization
nonprofit_organization
other_not_for_profit_organization
the_ability_one_program
number_of_employees
annual_revenue
private_university_or_college
state_controlled_institution_of_higher_learning
1862_land_grant_college
1890_land_grant_college
1994_land_grant_college
minority_institution
historically_black_college
tribal_college
alaskan_native_servicing_institution
native_hawaiian_servicing_institution
school_of_forestry
veterinary_college
dot_certified_disadvantage
self_certified_small_disadvantaged_business
small_disadvantaged_business
c8a_program_participant
historically_underutilized_business_zone_hubzone_firm
sba_certified_8a_joint_venture
last_modified_date

# Other approaches

In [65]:
# Drop columns with all empty values
df1a = df1.dropna(axis=1, how='all')

In [66]:
df1a.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,business_funds_indicator_description,business_types_code,business_types_description,correction_delete_indicator_code,correction_delete_indicator_description,action_type_code,action_type_description,record_type_code,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,NaN,X,NaN,NaN,NaN,A,NaN,2,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,NOT RECOVERY ACT,M,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,NaN,B,CONTINUATION,2,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,NaN,X,NaN,NaN,NaN,A,NaN,2,NaN,2017-10-06 20:30:23.602324

In [67]:
for col in df1a.columns:
    try:
        if df[col].notna().value_counts()[1] != len(df1):            
            print(df[col].isna().value_counts())
    except:
        pass

False    1476
True      545
Name: modification_number, dtype: int64
True     1171
False     850
Name: award_id_uri, dtype: int64
False    1979
True       42
Name: sai_number, dtype: int64
False    2016
True        5
Name: federal_action_obligation, dtype: int64
False    1119
True      902
Name: non_federal_funding_amount, dtype: int64
False    1021
True     1000
Name: face_value_of_loan, dtype: int64
True     1834
False     187
Name: original_subsidy_cost, dtype: int64
True     1828
False     193
Name: total_subsidy_cost, dtype: int64
True     1830
False     191
Name: total_loan_value, dtype: int64
False    1102
True      919
Name: period_of_performance_start_date, dtype: int64
False    1102
True      919
Name: period_of_performance_current_end_date, dtype: int64
False    1102
True      919
Name: awarding_office_code, dtype: int64
True     1337
False     684
Name: awarding_office_name, dtype: int64
False    1094
True      927
Name: funding_office_code, dtype: int64
True     1345
False     676
Name: funding_office_name, dtype: int64
False    1154
True      867
Name: recipient_parent_name, dtype: int64
False    1231
True      790
Name: recipient_parent_duns, dtype: int64
True     1428
False     593
Name: recipient_address_line_2, dtype: int64
False    1583
True      438
Name: recipient_city_code, dtype: int64
False    2018
True        3
Name: recipient_zip_last_4_code, dtype: int64
True     2016
False       5
Name: primary_place_of_performance_city_name, dtype: int64
True     1908
False     113
Name: primary_place_of_performance_county_code, dtype: int64
True     1908
False     113
Name: primary_place_of_performance_county_name, dtype: int64
False    2020
True        1
Name: primary_place_of_performance_state_name, dtype: int64
True     2016
False       5
Name: primary_place_of_performance_zip_4, dtype: int64
False    1635
True      386
Name: primary_place_of_performance_congressional_district, dtype: int64
True     1080
False     941
Name: assistance_type_description, dtype: int64
True     1080
False     941
Name: business_funds_indicator_description, dtype: int64
True     1080
False     941
Name: business_types_description, dtype: int64
True     1988
False      33
Name: correction_delete_indicator_code, dtype: int64
True     1993
False      28
Name: correction_delete_indicator_description, dtype: int64
True     1080
False     941
Name: action_type_description, dtype: int64
True     1080
False     941
Name: record_type_description, dtype: int64

In [73]:
for col in df1a.columns:
    if re.match(r'\w+code\b', col):
        print(col)

awarding_agency_code
awarding_sub_agency_code
awarding_office_code
funding_agency_code
funding_sub_agency_code
funding_office_code
recipient_country_code
recipient_city_code
recipient_county_code
recipient_state_code
recipient_zip_code
recipient_zip_last_4_code
primary_place_of_performance_country_code
primary_place_of_performance_code
primary_place_of_performance_county_code
assistance_type_code
business_funds_indicator_code
business_types_code
correction_delete_indicator_code
action_type_code
record_type_code

In [76]:
codes_list = []
for col in df1a.columns:
    if re.match(r'\w+code\b', col) is None:
        codes_list.append(col)

In [79]:
df1b = df1a[codes_list]

In [80]:
df1b.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,cfda_number,cfda_title,assistance_type_description,award_description,business_funds_indicator_description,business_types_description,correction_delete_indicator_description,action_type_description,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VITA TAX ASSISTANCE: FINANCIAL INITIATIVES PRO...,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),THE SAN DIEGO EITC COALITION,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VERMILION COALITION VITA TAX ASSISTANCE PROGRAM,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:23.602324

In [81]:
df1b.columns

Index(['award_id_fain', 'modification_number', 'award_id_uri', 'sai_number',
       'federal_action_obligation', 'non_federal_funding_amount',
       'total_funding_amount', 'face_value_of_loan', 'original_subsidy_cost',
       'total_subsidy_cost', 'total_loan_value', 'action_date',
       'period_of_performance_start_date',
       'period_of_performance_current_end_date', 'awarding_agency_name',
       'awarding_sub_agency_name', 'awarding_office_name',
       'funding_agency_name', 'funding_sub_agency_name', 'funding_office_name',
       'recipient_duns', 'recipient_name', 'recipient_parent_name',
       'recipient_parent_duns', 'recipient_country_name',
       'recipient_address_line_1', 'recipient_address_line_2',
       'recipient_city_name', 'recipient_county_name', 'recipient_state_name',
       'recipient_congressional_district',
       'primary_place_of_performance_country_name',
       'primary_place_of_performance_city_name',
       'primary_place_of_performance_county_name',
       'primary_place_of_performance_state_name',
       'primary_place_of_performance_zip_4',
       'primary_place_of_performance_congressional_district', 'cfda_number',
       'cfda_title', 'assistance_type_description', 'award_description',
       'business_funds_indicator_description', 'business_types_description',
       'correction_delete_indicator_description', 'action_type_description',
       'record_type_description', 'last_modified_date'],
      dtype='object')

In [85]:
df1b.primary_place_of_performance_country_name.value_counts().iloc[0]

2021

In [86]:
# Remove columns with a single value for all entries
redundant = []
for col in df1b.columns:
    if df1b[col].value_counts().iloc[0] == len(df1b):
        redundant.append(col)

In [88]:
df1c = df1b.drop(redundant, 1)

In [90]:
df1c.head()

,award_id_fain,modification_number,award_id_uri,sai_number,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,...,cfda_number,cfda_title,assistance_type_description,award_description,business_funds_indicator_description,business_types_description,correction_delete_indicator_description,action_type_description,record_type_description,last_modified_date
0,17VITA0188,01,NaN,SAI EXEMPT,30000.00,50196.0,80196.00,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VITA TAX ASSISTANCE: FINANCIAL INITIATIVES PRO...,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-07-10 19:13:55.115
1,17VITA0208,02,NaN,SAI EXEMPT,-2739.01,NaN,-2739.01,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),THE SAN DIEGO EITC COALITION,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.415642
2,171FA021492-G,0000,171FA021492-G,SAI EXEMPT,504188.00,NaN,504188.00,0.0,NaN,NaN,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:28.563451
3,17VITA0285,02,NaN,SAI EXEMPT,-15430.70,NaN,-15430.70,NaN,NaN,NaN,...,21.009,VOLUNTEER INCOME TAX ASSISTANCE (VITA) MATCHIN...,PROJECT GRANT (B),VERMILION COALITION VITA TAX ASSISTANCE PROGRAM,NOT RECOVERY ACT,NONPROFIT WITH 501C3 IRS STATUS (OTHER THAN AN...,NaN,CONTINUATION,NON-AGGREGATE RECORD,2018-10-25 15:17:16.169254
4,171FA021492-L,0000,171FA021492-L,SAI EXEMPT,0.00,NaN,0.00,272312.0,31399.0,31399.0,...,21.020,COMMUNITY DEVELOPMENT FINANCIAL INSTITUTIONS P...,NaN,FINANCIAL ASSISTANCE AWARD,NaN,NaN,NaN,NaN,NaN,2017-10-06 20:30:23.602324

In [59]:
df1.action_date.notna().value_counts()

True    2021
Name: action_date, dtype: int64

In [51]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2021 entries, 0 to 2020
Data columns (total 72 columns):
award_id_fain                                          2021 non-null object
modification_number                                    1476 non-null object
award_id_uri                                           850 non-null object
sai_number                                             1979 non-null object
federal_action_obligation                              2016 non-null float64
non_federal_funding_amount                             1119 non-null float64
total_funding_amount                                   2021 non-null float64
face_value_of_loan                                     1021 non-null float64
original_subsidy_cost                                  187 non-null float64
total_subsidy_cost                                     193 non-null float64
total_loan_value                                       191 non-null float64
action_date                                            2021 non-null object
period_of_performance_start_date                       1102 non-null object
period_of_performance_current_end_date                 1102 non-null object
awarding_agency_code                                   2021 non-null int64
awarding_agency_name                                   2021 non-null object
awarding_sub_agency_code                               2021 non-null int64
awarding_sub_agency_name                               2021 non-null object
awarding_office_code                                   1102 non-null object
awarding_office_name                                   684 non-null object
funding_agency_code                                    2021 non-null int64
funding_agency_name                                    2021 non-null object
funding_sub_agency_code                                2021 non-null int64
funding_sub_agency_name                                2021 non-null object
funding_office_code                                    1094 non-null object
funding_office_name                                    676 non-null object
recipient_duns                                         2021 non-null int64
recipient_name                                         2021 non-null object
recipient_parent_name                                  1154 non-null object
recipient_parent_duns                                  1231 non-null float64
recipient_country_code                                 2021 non-null object
recipient_country_name                                 2021 non-null object
recipient_address_line_1                               2021 non-null object
recipient_address_line_2                               593 non-null object
recipient_city_code                                    1583 non-null object
recipient_city_name                                    2021 non-null object
recipient_county_code                                  2021 non-null int64
recipient_county_name                                  2021 non-null object
recipient_state_code                                   2021 non-null object
recipient_state_name                                   2021 non-null object
recipient_zip_code                                     2021 non-null int64
recipient_zip_last_4_code                              2018 non-null float64
recipient_congressional_district                       2021 non-null int64
recipient_foreign_city_name                            0 non-null float64
recipient_foreign_province_name                        0 non-null float64
recipient_foreign_postal_code                          0 non-null float64
primary_place_of_performance_country_code              2021 non-null object
primary_place_of_performance_country_name              2021 non-null object
primary_place_of_performance_code                      2021 non-null object
primary_place_of_performance_city_name                 5 non-null object
primary_place_of_performance_county_code               113 non-null float64
primary_place_of_performance_county_name               113 non-null object
primary_place_of_performance_state_name                2020 non-null object
primary_place_of_performance_zip_4                     5 non-null object
primary_place_of_performance_congressional_district    1635 non-null float64
primary_place_of_performance_foreign_location          0 non-null float64
cfda_number                                            2021 non-null float64
cfda_title                                             2021 non-null object
assistance_type_code                                   2021 non-null int64
assistance_type_description                            941 non-null object
award_description                                      2021 non-null object
business_funds_indicator_code                          2021 non-null object
business_funds_indicator_description                   941 non-null object
business_types_code                                    2021 non-null object
business_types_description                             941 non-null object
correction_delete_indicator_code                       33 non-null object
correction_delete_indicator_description                28 non-null object
action_type_code                                       2021 non-null object
action_type_description                                941 non-null object
record_type_code                                       2021 non-null int64
record_type_description                                941 non-null object
last_modified_date                                     2021 non-null object
dtypes: float64(16), int64(10), object(46)
memory usage: 1.1+ MB

In [21]:
df2.head(1)

,subaward_number,prime_award_fain,subaward_amount,subaward_action_date,subaward_report_year,subaward_report_month,prime_awarding_agency_code,prime_awarding_agency_name,prime_awarding_sub_agency_code,prime_awarding_sub_agency_name,...,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
0,222222,17VITA0283,50000.0,2016-12-29,2017,1,20,DEPARTMENT OF THE TREASURY (TREAS),2050,INTERNAL REVENUE SERVICE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df3.head(1)

,award_id_piid,modification_number,transaction_number,parent_award_agency_id,parent_award_agency_name,parent_award_id,parent_award_modification_number,federal_action_obligation,total_dollars_obligated,base_and_exercised_options_value,...,native_hawaiian_servicing_institution,school_of_forestry,veterinary_college,dot_certified_disadvantage,self_certified_small_disadvantaged_business,small_disadvantaged_business,c8a_program_participant,historically_underutilized_business_zone_hubzone_firm,sba_certified_8a_joint_venture,last_modified_date
0,TOSOFR15F0015,5,0.0,NaN,NaN,NaN,NaN,-19031.25,1783813.26,-416401.15,...,f,f,f,f,t,f,t,t,f,2018-12-07 09:17:07

In [23]:
df4.head(1)

,subaward_number,prime_award_piid,prime_award_parent_piid,subaward_amount,subaward_action_date,subaward_report_year,subaward_report_month,prime_awarding_agency_code,prime_awarding_agency_name,prime_awarding_sub_agency_code,...,highly_compensated_officer_1_name,highly_compensated_officer_1_amount,highly_compensated_officer_2_name,highly_compensated_officer_2_amount,highly_compensated_officer_3_name,highly_compensated_officer_3_amount,highly_compensated_officer_4_name,highly_compensated_officer_4_amount,highly_compensated_officer_5_name,highly_compensated_officer_5_amount
0,7500149614,TIRNO11D000270014,TIRNO11D00027,15490856.0,2016-12-29,2018,5,20,DEPARTMENT OF THE TREASURY (TREAS),2050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df3.columns

Index(['award_id_piid', 'modification_number', 'transaction_number',
       'parent_award_agency_id', 'parent_award_agency_name', 'parent_award_id',
       'parent_award_modification_number', 'federal_action_obligation',
       'total_dollars_obligated', 'base_and_exercised_options_value',
       ...
       'native_hawaiian_servicing_institution', 'school_of_forestry',
       'veterinary_college', 'dot_certified_disadvantage',
       'self_certified_small_disadvantaged_business',
       'small_disadvantaged_business', 'c8a_program_participant',
       'historically_underutilized_business_zone_hubzone_firm',
       'sba_certified_8a_joint_venture', 'last_modified_date'],
      dtype='object', length=261)

In [28]:
for col in df1.columns:
    if col in df2.columns:
        print('df2: {}'.format(col))
    if col in df3.columns:
        print('df3: {}'.format(col))
    if col in df4.columns:
        print('df4: {}'.format(col))

df3: modification_number
df3: federal_action_obligation
df3: action_date
df3: period_of_performance_start_date
df3: period_of_performance_current_end_date
df3: awarding_agency_code
df3: awarding_agency_name
df3: awarding_sub_agency_code
df3: awarding_sub_agency_name
df3: awarding_office_code
df3: awarding_office_name
df3: funding_agency_code
df3: funding_agency_name
df3: funding_sub_agency_code
df3: funding_sub_agency_name
df3: funding_office_code
df3: funding_office_name
df3: recipient_duns
df3: recipient_name
df3: recipient_parent_name
df3: recipient_parent_duns
df3: recipient_country_code
df3: recipient_country_name
df3: recipient_address_line_1
df3: recipient_address_line_2
df3: recipient_city_name
df3: recipient_state_code
df3: recipient_state_name
df3: recipient_congressional_district
df3: primary_place_of_performance_country_code
df3: primary_place_of_performance_country_name
df3: primary_place_of_performance_city_name
df3: primary_place_of_performance_county_name
df3: primary_place_of_performance_state_name
df3: primary_place_of_performance_zip_4
df3: primary_place_of_performance_congressional_district
df3: award_description
df3: action_type_code
df3: last_modified_date

In [14]:
df1.recipient_country_code.value_counts()

USA    2021
Name: recipient_country_code, dtype: int64

In [16]:
df1.recipient_country_name.value_counts()

UNITED STATES    2021
Name: recipient_country_name, dtype: int64

In [17]:
df1.describe()

,federal_action_obligation,non_federal_funding_amount,total_funding_amount,face_value_of_loan,original_subsidy_cost,total_subsidy_cost,total_loan_value,awarding_agency_code,awarding_sub_agency_code,funding_agency_code,...,recipient_congressional_district,recipient_foreign_city_name,recipient_foreign_province_name,recipient_foreign_postal_code,primary_place_of_performance_county_code,primary_place_of_performance_congressional_district,primary_place_of_performance_foreign_location,cfda_number,assistance_type_code,record_type_code
count,2.016000e+03,1.119000e+03,2.021000e+03,1.021000e+03,1.870000e+02,1.930000e+02,1.910000e+02,2021.000000,2021.000000,2021.0,...,2021.000000,0.0,0.0,0.0,113.000000,1635.000000,0.0,2021.000000,2021.000000,2021.0
mean,3.066013e+05,3.975245e+04,3.278531e+05,3.951587e+05,4.186206e+04,4.134315e+04,2.119198e+06,20.304800,2057.279565,20.0,...,10.587828,NaN,NaN,NaN,101.194690,66.370642,NaN,20.979351,4.063335,2.0
std,6.207959e+05,1.045937e+05,6.191127e+05,5.892972e+06,2.441935e+05,2.403189e+05,1.351866e+07,4.836139,9.102688,0.0,...,16.555392,NaN,NaN,NaN,121.368746,37.289149,NaN,0.537379,0.427920,0.0
min,-6.865000e+05,-2.326000e+03,-6.865000e+05,-2.630000e+05,-3.032500e+04,0.000000e+00,0.000000e+00,20.000000,2001.000000,20.0,...,0.000000,NaN,NaN,NaN,3.000000,0.000000,NaN,12.401000,3.000000,2.0
25%,2.083300e+04,0.000000e+00,3.125000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2050.000000,20.0,...,2.000000,NaN,NaN,NaN,39.000000,19.500000,NaN,21.008000,4.000000,2.0
50%,7.441000e+04,0.000000e+00,1.250000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2050.000000,20.0,...,5.000000,NaN,NaN,NaN,73.000000,90.000000,NaN,21.009000,4.000000,2.0
75%,3.500000e+05,6.018700e+04,3.933600e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,20.000000,2066.000000,20.0,...,12.000000,NaN,NaN,NaN,105.000000,90.000000,NaN,21.020000,4.000000,2.0
max,8.496545e+06,2.000000e+06,8.496545e+06,1.500000e+08,3.030000e+06,3.030000e+06,1.500000e+08,97.000000,2100.000000,20.0,...,98.000000,NaN,NaN,NaN,770.000000,98.000000,NaN,21.021000,8.000000,2.0

In [29]:
df1.dtypes

award_id_fain                                           object
modification_number                                     object
award_id_uri                                            object
sai_number                                              object
federal_action_obligation                              float64
non_federal_funding_amount                             float64
total_funding_amount                                   float64
face_value_of_loan                                     float64
original_subsidy_cost                                  float64
total_subsidy_cost                                     float64
total_loan_value                                       float64
action_date                                             object
period_of_performance_start_date                        object
period_of_performance_current_end_date                  object
awarding_agency_code                                     int64
awarding_agency_name                                    object
awarding_sub_agency_code                                 int64
awarding_sub_agency_name                                object
awarding_office_code                                    object
awarding_office_name                                    object
funding_agency_code                                      int64
funding_agency_name                                     object
funding_sub_agency_code                                  int64
funding_sub_agency_name                                 object
funding_office_code                                     object
funding_office_name                                     object
recipient_duns                                           int64
recipient_name                                          object
recipient_parent_name                                   object
recipient_parent_duns                                  float64
                                                        ...
recipient_congressional_district                         int64
recipient_foreign_city_name                            float64
recipient_foreign_province_name                        float64
recipient_foreign_postal_code                          float64
primary_place_of_performance_country_code               object
primary_place_of_performance_country_name               object
primary_place_of_performance_code                       object
primary_place_of_performance_city_name                  object
primary_place_of_performance_county_code               float64
primary_place_of_performance_county_name                object
primary_place_of_performance_state_name                 object
primary_place_of_performance_zip_4                      object
primary_place_of_performance_congressional_district    float64
primary_place_of_performance_foreign_location          float64
cfda_number                                            float64
cfda_title                                              object
assistance_type_code                                     int64
assistance_type_description                             object
award_description                                       object
business_funds_indicator_code                           object
business_funds_indicator_description                    object
business_types_code                                     object
business_types_description                              object
correction_delete_indicator_code                        object
correction_delete_indicator_description                 object
action_type_code                                        object
action_type_description                                 object
record_type_code                                         int64
record_type_description                                 object
last_modified_date                                      object
Length: 72, dtype: object